<% html_title(l(:work_reports_title)) %>
<%= content_tag(:h1, l(:work_reports_title)) %>

<div class="projects">
  <% @projects.each do |project| %>
    <div id="project_<%= project.id -%>" style="clear:both;">
      <h2><%= h(project.name) %></h2>
      
      <div class="graph" style="float:right";>
        <%= tag("embed", :width => 400, :height => 300, :type => "image/svg+xml", :src => url_for(:controller => 'work_reports', :action => 'graph', :project_id => project)) %>
      </div>

      <ul>
        <li class="backlog-time">Backlog time: <%= format_days(project.backlog_time(:include_subprojects => ChiliprojectWorkReports::Configuration.kanban_roll_up_projects?)) %></li>
        <li class="completion-time">Completion time: <%= format_days(project.completion_time(:include_subprojects => ChiliprojectWorkReports::Configuration.kanban_roll_up_projects?)) %></li>
        <li class="incoming-issue-rate">Incoming rate: <%= h(project.incoming_issue_rate(:include_subprojects => ChiliprojectWorkReports::Configuration.kanban_roll_up_projects?)) %></li>
        <li class="completion-issue-rate">Completion rate: <%= h(project.finished_issue_rate(:include_subprojects => ChiliprojectWorkReports::Configuration.kanban_roll_up_projects?)) %></li>
        <li class="issue-growth-rate">Issue growth rate: <%= h(project.issue_growth_rate(:include_subprojects => ChiliprojectWorkReports::Configuration.kanban_roll_up_projects?)) %></li>
      </ul>
    </div>
  <% end %>
</div>
